In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('./Ted Data.xlsx')

In [3]:
df["Contractor awarded"]

0                                SAN-EI Electric Co., Ltd
1       Thales Research and Technology---TNO, Netherla...
2                                              NucAdvisor
3                                      Aptilo Networks AB
4       NucAdvisor---Agenzia Nazionale per le Nuove Te...
                              ...
7159                     KnowledgePool Group Ltd — Capita
7160                                           Airbus SAS
7161     Stichting Dienst Landbouwkundig Onderzoek RIKILT
7162                          University of Hertfordshire
7163                                                AINIA
Name: Contractor awarded, Length: 7164, dtype: object

In [4]:
df["Contractor awarded"] = df["Contractor awarded"].str.split('---').explode('Contractor awarded', ignore_index=False)

TypeError: explode() got multiple values for argument 'ignore_index'

In [46]:
df.to_csv('temp.csv', encoding='utf-8', index=False)

In [47]:
df["Contractor awarded"]

0                                SAN-EI Electric Co., Ltd
1                          Thales Research and Technology
2       TNO, Netherlands Organisation for Applied Scie...
3       Fraunhofer-Gesellschaft zur Förderung der ange...
4                          Universidad Publica de Navarra
                              ...
7159                                        RWS Solutions
7160                                  Toptranslation GmbH
7161                     Università degli studi di Milano
7162                         Societa Metallurgica Minotti
7163                             Albaksan Alassimli Bakir
Name: Contractor awarded, Length: 7164, dtype: object

In [48]:
df

                                     Contractor awarded
0                              SAN-EI Electric Co., Ltd
1                        Thales Research and Technology
2     TNO, Netherlands Organisation for Applied Scie...
3     Fraunhofer-Gesellschaft zur Förderung der ange...
4                        Universidad Publica de Navarra
...                                                 ...
7159                                      RWS Solutions
7160                                Toptranslation GmbH
7161                   Università degli studi di Milano
7162                       Societa Metallurgica Minotti
7163                           Albaksan Alassimli Bakir

[7164 rows x 1 columns]